@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {

    /* Hide scrollbar for Chrome, Safari, and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffba58;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff9702;
}

.container {
  @apply max-w-[1400px] mx-auto px-4;
}

.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 14px 14px 0 0;
  border-color: #ed1c24 transparent transparent transparent;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 30px;
}

.shadow-card {
  box-shadow: -8px -8px 4px #ff5c00, 8px 8px 4px #ffe600;
}

.shadow-card-mobile {
  box-shadow: -4px -4px 2px #ff5c00, 4px 4px 2px #ffe600;
}

.swiper-wrapper {
  padding-bottom: 20px;
}

.swiper-pagination-bullet {
  padding: 10px;
}

.swiper-pagination-bullet-active {
  background-color: #ff9b00 !important;
}

.mbkm-linkedin:hover p {
  @apply text-[#0077b5];
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}

.loader::before,
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #ff9b00;
  animation: prixClipFix 1s linear infinite;
}

.loader::after {
  border-color: #ed1c24;
  animation: prixClipFix 1s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }

  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }

  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

.testimoni-card-odd {
  box-shadow: 3px 3px 4px #d9c401, -3px -3px 4px #ffff01;
}

.testimoni-card-even {
  box-shadow: 3px 3px 4px #d98400, -3px -3px 4px #ffb200;
}

.text-gradient {
  background: var(--Orenn, radial-gradient(441.87% 148.66% at 31.82% -13.39%, #ff9b00 12.5%, #ed1c24 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
}

.neumorphism-mbkm {
  box-shadow: 2px 2px 3px #cf3a15, -2px -2px 3px #ff4e1d;
}

.neumorphism-mbkm-slider {
  box-shadow: 4px 4px 6px #d2d0c9, -4px -4px 6px #ffffff;
}

.neumorphism-mbkm:hover {
  background: linear-gradient(145deg, #db3d17, #ff491b);
  box-shadow: 2px 2px 2px #cf3a15, -2px -2px 2px #ff4e1d;
}

.neumorphism-mbkm-slider:hover {
  background: linear-gradient(145deg, #deddd5, #fffffe);
  box-shadow: 2px 2px 6px #d2d0c9, -2px -2px 6px #ffffff;
}

@media (max-width: 768px) {
  .swiper-pagination-bullet {
    padding: 6px;
  }
}

span.text-foreground.text-large {
  font-weight: bold;
  font-size: 2.25rem;
  /* 36px */
  line-height: 2.5rem;
  /* 40px */
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
}

@media (max-width: 1024px) {
  span.text-foreground.text-large {
    font-weight: bold;
    font-size: 1rem;
    /* 36px */
    line-height: 1rem;
    /* 40px */
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
  }
}

.fetch-loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 32px 0 #fff, -32px 0 #fff;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
  left: 32px;
}

@keyframes flash {
  0% {
    background-color: #FFF2;
    box-shadow: 32px 0 #FFF2, -32px 0 #FFF;
  }

  50% {
    background-color: #FFF;
    box-shadow: 32px 0 #FFF2, -32px 0 #FFF2;
  }

  100% {
    background-color: #FFF2;
    box-shadow: 32px 0 #FFF, -32px 0 #FFF2;
  }
}