@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {

    /* Hide scrollbar for Chrome, Safari, and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }


    /* Hide scrollbar for IE, Edge, and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffba58;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FF9702;
}

.container {
  @apply max-w-[1400px] mx-auto px-4
}

.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 14px 14px 0 0;
  border-color: #ED1C24 transparent transparent transparent;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 30px;
}

.shadow-card {
  box-shadow: -8px -8px 4px #FF5C00, 8px 8px 4px #FFE600;
}

.swiper-wrapper {
  padding-bottom: 20px;
}

.swiper-pagination-bullet {
  padding: 10px;
}

.swiper-pagination-bullet-active {
  background-color: #FF9B00 !important;
}